* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  font-size: 16px; 
  line-height: 1;
  color: #606c71; }


a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957); }

@media screen and (min-width: 981px) {
  .page-header {
    padding: 10px; } }

@media screen and (min-width: 768px) and (max-width: 981px) {
  .page-header {
    padding: 10px; } }

@media screen and (min-width: 500px) and (max-width: 767px) {
  .page-header {
    padding: 10px; } }

@media screen and (max-width: 499px) {
  .page-header {
    padding: 10px; } }

.project-name {
  text-align: center;
  color: black;
}

@media screen and (min-width: 981px) {
  .project-name {
    font-size: 100px;
    padding-top: 55px;
    padding-bottom: 0px;} }

@media screen and (min-width: 768px) and (max-width: 980px) {
  .project-name {
    font-size: 75px; 
    padding-top: 55px;
    padding-bottom: 0px;} }
@media screen and (min-width: 500px) and (max-width: 767px) {
  .project-name {
    font-size: 60px; 
    padding-top: 55px;
    padding-bottom: 0px;} }

@media screen and (max-width: 499px) {
  .project-name {
    font-size: 40px;
    padding-top: 55px;
    padding-bottom: 0px;} }

.project-tagline {
  margin-bottom: 10px;
  font-weight: normal;
  opacity: 0.7; }

@media screen and (min-width: 981px) {
  .project-tagline {
    font-size: 20px; } }

@media screen and (min-width: 768px) and (max-width: 980px) {
  .project-tagline {
    font-size: 15px; } }

@media screen and (min-width: 500px) and (max-width: 767px) {
  .project-tagline {
    font-size: 12px; } }

@media screen and (max-width: 499px) {
  .project-tagline {
    font-size: 8px; } }

.social {
    padding: 10px;
    float: right;
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 20px;
    text-align:center;
    padding: 10px 11px 10px 11px;
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    -o-border-radius: 5%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-facebook:hover {
    background: #4060A5;
}

.social .fa-twitter:hover {
    background: #00ABE3;
}

.social .fa-linkedin:hover {
    background: #0094BC;
}



